.analysistextcontainer {

    position: absolute;
    width: 45%;
    top: 10%;
    max-height: 85%;
    left: 2.5%;
    padding-right: 1%;
    overflow: scroll;
    text-justify: inter-word;
    text-align: justify;
}

.analysistext {

    font-family: 'PT Serif';
    font-size: 1.3vw;
    text-justify: inter-word;
    border: 1px transparent;
    border-radius: 5px;
    text-align: justify;

}

.texthover {

    border: 1px solid green;
    border-radius: 5px;
}

.analysisanswerinput {
    background: transparent;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 1.2vw;
    font-family: 'PT Sans';
    font-style: italic;
}

.analysisanswerinput:focus {

    border: 0;
    outline: 0;
    border-bottom: 1px solid black;

}

.backline {

    position: absolute;
    top: 50%;
    height: 1px;
    background: black;
    width: 100%;
    left: 0%;
}

.analysisanswerinputarea {

    width: 100%;
    height: 2.5em;
    font-size: 1.2vw;
    border-bottom: 1px solid;
    padding: 0;
    background: linear-gradient(180deg, 
        rgba(0,0,0,0) calc(45%), 
        black calc(45.5%), 
        rgba(0,0,0,0) calc(45% + 1px)
    );

}

.analysisanswerinputarea4 {

    width: 100%;
    height: 8em;
    font-size: 1.2vw;
    border: 1px solid;
    padding: 0;
    margin-top: 2em;

}

.analysisanswerinputarea4:focus {

    border: 1px solid;

}

.summaryarea {

    width: 100%;
    font-size: 1.2vw;
    background: transparent;
    font-family: 'PT Sans';

    border: 0;
    outline: 0;

    height: 50vh;
}

.summaryarea:focus {

    outline: 0;
    border: 0;
}

.analysisquestioncontainer {

    padding: 5px;

    width: 45%;
    position: absolute;
    top: 10%;
    height: 85%;
    left: 52.5%;

    whitespace: pre;
}

.analysismainquestion {

    font-weight: bold;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 1.3vw;
}

.analysisanswertext {

    display: inline-block;
    font-family: 'PT Sans';
    font-size: 1.2vw;
    font-style: italic;

}

.subquestioncontainer {

    margin-top: 5%;
    whitespace: pre-line;

}

.subquestion {

    font-size: 1.2vw;
    margin-bottom: 3%;
}

.subanswer {

   margin-bottom: 3%;
}

.analysisinteraction {

    color: grey;
    text-align: center;
}

.backbutton {

    position: absolute;
    top: 1em;
    left: 2em;
}

.forwardbutton {

    position: absolute;
    top: 1em;
    right: 2em;
}

.nextpagebutton {

    position: absolute;
    bottom: 1em;
    right: 1em;
}

.subquestionsubmit {

    background-color: white;
    color: green;
    padding: 10px;
    border-radius: 10px;

}
