.choicetextbox {
  position: absolute;
  width: 80vw;
  top: 20%;
  left: 10vw;
  text-align: center;
}

.choicetext {
    font-size: 3vw;
    font-family: 'Montserrat';
    font-weight: 300;
}

.userchoicerow {
    position: absolute;
    top: 40%;
    left: 10vw;
    width: 80vw;
    justify-content: space-evenly;
}

.choiceinput {
    
    background-color: transparent;
    border: 0;
    border-bottom: solid black;
    font-size: 3vw;
    
}

.fadeoutchoice {
    
    animation: fadeoutanim 1s ease;
    opacity: 0%;
    
}

.choicebubble {
    
    cursor: pointer;
    
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    background: inherit;
    
    height: 20vh;
    width: 25vw;
    
    border-radius: 50px;
    
    position: relative;
    
    font-family: 'Montserrat';
    
    animation: bubblenter 1.5s ease;
    
}

@keyframes bubblenter {
    
    0% {
        top: 120%;
        opacity: 0%;
    }
    100% {
        top:0%;
        opacity: 100%;
    }
}

.choicebubbletext {
    
    font-size: 1.5vw;
    
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.whyworkscard {
    margin-top: 5em;
    border-color: transparent;
    border: transparent;
    
}

.whyworkstitle {
    margin-top: 0.5em;
    color: green;
    font-size: 40px;
    text-align: center;
}

.whyworksbody {
    margin-top: 1em;
    font-size: 17px;
    text-align: center;
}

.institutiontitle {
    margin-top: 1em;
    font-size: 30px;
}

