.runningprogresstracker {
    margin-top: 2em;
    text-align: right;
    font-size: 15px;
}

.launchcardtwo {
    height: 20em;
    border-color: black;
    margin-top: 5em;
    text-align: center;
    position: relative;
    margin-bottom: 3em;

    border-color: transparent;
    border-radius: 20px;
}

.launchcard {
    height: 10em;
    text-align: center;

    background-color: lightyellow;

    border-radius: 20px;
}

.launchcontent {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}