.runningprogresstracker {
    margin-top: 2em;
    text-align: right;
    font-size: 15px;
}

.launchcardtwo {
    
    
    height: 20em;
    border-color: black;
    margin-top: 3em;
    text-align: center;
    position: relative;
    margin-bottom: 3em;

    border-color: transparent;
    border-radius: 20px;
}

.launchcardtwotop {
    
    
    height: 20em;
    border-color: black;
    margin-top: 3em;
    text-align: center;
    position: relative;

    border-color: transparent;
    border-radius: 20px;
}

.messagecard {
    
    margin-top: 2em;
    
    height: 10em;
    text-align: left;

    background-color: lightyellow;

    border-radius: 20px;
}

.launchcontent {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messagetext {
    font-size: 25px;
    white-space: pre-wrap;
    
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.progressLevel {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 1;
    
    font-size: 100px;
    
}

.ten {
  background-image: linear-gradient(126deg, transparent 50%, #00ffff 50%), linear-gradient(90deg, #00ffff 50%, transparent 50%);
}


.outercircle {
    
    z-index: 2;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: darkblue;
    
    border: 2px solid #aaf8ff;
    
    
    height: 240px;
    width: 240px;
    border-radius: 50%;
}

.innercircle {
    
    z-index: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
    background-color: #aaf8ff;
    border-color: black;
}

.pip {
    
    width: 1em;
    height: 1em;
    
    margin-right: 5%;
    border-radius: 50%;
    
    display: inline-block;
}  

.pipbig {
    
    width: 2em;
    height: 2em;
    
    margin-right: 5%;
    border-radius: 50%;
    
    display: inline-block;
    
}
    

.pip-green {
    
    background-color: green;
}

.pip-blue {
    
    background-color: blue;
}

.pip-blue-hollow {
    
    border: 1px solid blue;
    
}

.pip-green-hollow {
    
    border: 1px solid green;   
    
}

.pip-green-blue {
    
    border: 1px solid green;   
    
}
