.answercardmodal {
    
    width: 50%;
    max-width: none!important;
}

.fadeout {
    animation: fadeoutanim 1.5s ease;
}

@keyframes fadeoutanim {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.fillgapscard {
    
    animation: upbubbleread 1.5s ease;
    position: absolute;
    left: 17.5vw;
    width: 80vw;
    height: 90vh;
    bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #f5f5f5;
    border-radius: 10px;
    
}

@keyframes upbubbleread {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.sidebox {
    
    position: fixed;
    bottom: 10%;
    left: 1.5%;
    width: 12%;
    height: 40%;
    border-radius: 10px;
}

.sidebox:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    background: inherit;
}
    

.launchwindow {
    background-image: url('/greenim.jpg');
    background-size: 100% auto;
    background-attachment: fixed;
}

.runningprogresstracker {
    margin-top: 2em;
    text-align: right;
    font-size: 15px;
}

.launchcardtwo {
    
    
    height: 20em;
    width: 100%;
    margin-top: 1em;
    text-align: center;
    position: relative;
    margin-bottom: 3em;

    border-radius: 20px;
}

.launchtopleft {
    
    border-color: lightgreen;
    
}

.launchtopright {
    
    

}

.launchnotification {
    
    height: 10em;
    margin-top: 1em;
    
    border-radius: 20px;
}

.launchcardtwotop {
   
    height: 50%;
    width: 100%;
    text-align: center;

    border-radius: 20px;
}

.messagecard {
    
    margin-top: 2em;
    
    height: 10em;
    text-align: left;

    background-color: lightyellow;

    border-radius: 20px;
}

.launchcontent {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.launchprogress {
    font-size: 30px;
    
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    
}

.launchcontent:hover {
    text-decoration: underline;
}


.messagetext {
    font-size: 25px;
    white-space: pre-wrap;
    
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.progressLevel {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 1;
    
    font-size: 100px;
    
}

.ten {
  background-image: linear-gradient(126deg, transparent 50%, #00ffff 50%), linear-gradient(90deg, #00ffff 50%, transparent 50%);
}

.findnewcard {
    
    font-size: 20px;
    text-align: center;
}


.outercircle {
    
    z-index: 2;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: darkblue;
    
    border: 2px solid #aaf8ff;
    
    
    height: 240px;
    width: 240px;
    border-radius: 50%;
}

.innercircle {
    
    z-index: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
    background-color: white;
    border-color: black;
}

.pip {
    
    width: 20%;
    height: 8px;
    
    margin-right: 2.5%;
    margin-left: 2.5%;
    border-radius: 1%;
    
    display: inline-block;
}  

.pipsmall {
    
    width: 15%;
    height: 6px;
    
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    margin-top: 0;
    border-radius: 1%;
    
    display: inline-block;
} 

.pipbig {
    
    width: 20%;
    height: 10px;
    
    margin-right: 2.5%;
    margin-left: 2.5%;
    border-radius: 1%;
    
    display: inline-block;
    
}
    

.pip-green {
    
    background-color: lightblue;
}

.pip-blue {
    
    background-color: #003366;
}

.pip-blue-hollow {
    
    border: 1px solid #a1e2cf;
    
}

.pip-green-hollow {
    
    border: 1px solid #ccdde0;   
    
}

.pip-green-blue {
    
    border: 1px solid green;   
    
}

.progress-custom {
    color: #048a81 !important;
}
