.login-box {
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 5px;
    border-color: #fefeee;
    color: #746f72;
  }

.logininput {
  background: transparent;
  border: border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 2em;
  width: 75%;
  padding: 0.5em;
}

.logininput:focus {
  outline: 0;
}

.loginsubs {
    margin-top: 3em;
    color: gray;
    
}

.loginerror {
    color: red;
    margin-bottom: 2em;
        
}

.formgroup {
    text-align: center;
}
