.bubble {
    
    position: absolute;
    background: inherit;
    
    border: transparent;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    
}

.bubbletext {
    
    color: black;
    font-family: lora;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1.5vw;
    z-index: 2;
    transform: translate(-50%, -50%);
    
}

.readingbubble {
    left: 20%;
    top: 10%;
    width: 20vw;
    
    height: 20vw;
    border-radius: 50%;
}

.vocabubble {
    left: 70%;
    top: 20%;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

.listsbubble {
    left: 50%;
    top: 60%;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

.upbubbleread {
    animation: upbubble1 1.5s ease;
}

@keyframes upbubble1 {
    0% {
        top: 10%;
    }
    100% {
        top: -80%;
    }
}

.upbubblevocab {
    animation: upbubble3 1.5s ease;
}

@keyframes upbubble3 {
     0% {
        top: 20%;
    }
    100% {
        top: -80%;
    }
}

.upbubblelists {
    animation: upbubble2 1.5s ease;
}

@keyframes upbubble2 {
    0% {
        top: 60%;
    }
    100% {
        top: -80%;
    }
}



.bottombubbleread {
    animation: bottombubble1 1.5s ease;
}

@keyframes bottombubble1 {
    0% {
        top: 100%;
    }
    100% {
        top: 10%;
    }
}

.bottombubblelists {
    animation: bottombubble2 1.5s ease;
}

@keyframes bottombubble2 {
    0% {
        top: 100%;
    }
    100% {
        top: 60%;
    }
}

.bottombubblevocab {
    animation: bottombubble3 1.5s ease;
}

@keyframes bottombubble3 {
    0% {
        top: 100%;
    }
    100% {
        top: 20%;
    }
}
   

.vline {
    width: 2px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
}

.hline {
    height: 5px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
}

.hline0 {
    width: 20%;
    top: 10%;
    left: 0;
}

.hline1 {
    
    width: 40%;
    top: 10%;
    left: 55%;
}

.ahline1 {
    animation: wincrease1 3s ease;
}

@keyframes wincrease1 {
    
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

.hline2 {
    top: 20%;
    right: 0%;
    width: 80%;
}

.ahline2 {
    animation: wincrease2 3s ease;
}

@keyframes wincrease2 {
    
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}


.hline3 {
    top: 35%;
    left: 55%;
    width: 45%;
}

.ahline3 {
    animation: wincrease3 3s ease;
}

@keyframes wincrease3 {
    
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}

.hline4 {
    width: 35%;
    bottom: 29%;
    right: 45%;
}

.ahline4 {
    animation: wincrease4 3s ease;
}

@keyframes wincrease4 {
    
    0% {
        width: 0%;
    }
    100% {
        width: 35%;
    }
}

.hline5 {
    bottom: 14%;
    width: 80%;
    left: 15%;
}

.ahline5 {
    animation: wincrease5 3s ease;
}

@keyframes wincrease5 {
    
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.hline6 {
    bottom: 7%;
    right: 20%;
    width: 60%;
}

.ahline6 {
    animation: wincrease6 3s ease;
}

@keyframes wincrease6 {
    
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

.vertline0 {
    
    height: 100%;
    
    left: 15%;
    
}
    
.avline0 {
    animation: increase 3s;
}

@keyframes increase {
    
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

.vertline1 {
    
    height: 100%;
    bottom: 0;
    
    left: 20%;
}

.avline1 {
    animation: increase 3s;
}

.vertline2 {
    
    height: 20%;
    top: 0;
    
    left: 25%;
    
}

.avline2 {
    animation: increase2 3s;
}

@keyframes increase2 {
    
    0% {
        height: 0%;
    }
    100% {
        height: 20%;
    }
}

.vertline3 {
    
    height: 15%;
    bottom: 14%; 
    left: 45%;
    
}

.avline3 {
    animation: increase3 3s ease;
}

@keyframes increase3 {
    
    0% {
        height: 0%;
    }
    100% {
        height: 15%;
    }
}
    

.vertline4 {
    
    height: 100%;
    
    left: 55%;
}

.avline4 {
    animation: increase 3s ease;
}

.vertline5 {
    
    height: 80%;
    bottom: 0;
    left: 60%;
    
}

.avline5 {
    animation: increase5 3s ease;
}

@keyframes increase5 {
    
    0% {
        height: 0%;
    }
    100% {
        height: 80%;
    }
}

.vertline6 {
    
    top: 86%;
    height: 14%;
    left: 80%;
}

.avline6 {
    animation: increase6 3s ease;
}

@keyframes increase6 {
    
    0% {
        height: 0%;
    }
    100% {
        height: 14%;
    }
}



.vertline7 {
    
    height: 20%;
    bottom: 80%;
    left: 90%;
}

.avline7 {
    animation: increase7 3s ease;
}

@keyframes increase7 {
    
    0% {
        height: 0%;
    }
    100% {
        height: 20%;
    }
}

.vertline8 {
    
    height: 86%;
    top: 0%;
    left: 95%;
    
}

.avline8 {
    animation: increase8 3s ease;
}

@keyframes increase8 {
    
    0% {
        height: 0%;
    }
    100% {
        height: 86%;
    }
}

.tealfill {
    
    position: absolute;
    z-index: 0;
    background: inherit;
    
}

.afill {
    animation: colincrease 3s ease;
}

@keyframes colincrease {
    
    0% {
        background-color: #f5f5f5;
    }
    100% {
        background-color: #048a81;
    }
}


.tealfill:before {
    content: '';
    border: 0.5px solid grey;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    background: inherit;
}

.bluefill:before {
    content: '';
    border: 0.5px solid grey;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    background: inherit;
}

.tealfilll {
    position: absolute;
    left: 90%;
    top: 0%;
    width: 5%;
    height: 10%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
}
    

.tealfill1 {
    
    left: 90%;
    top: 0%;
    width: 5%;
    height: 10%;
    border: 0.5px solid grey;
}

.tealfill2 {
    left: 20%;
    top: 20%;
    width: calc(35% + 5px);
    height: 51%;
    background: inherit;
    border-radius: 20px;
}

.tealfill2:hover {
    
    background-color: #04726a;
    
}

.bottombubble {
    animation: bottombubblean 2s ease;
}

@keyframes bottombubblean {
    0% {
        top: 100%;
    }
    100% {
        top: 20%;
    }
}
            

.link:hover {
    color: black;
}

.tealfill3 {
    left: 20%;
    top: 86%;
    width: 40%;
    height: 7%;
}

.greyfill {
    
    background-color: #d6cfcb;
    position: absolute;
    z-index: 0.5;
}

.greyfill1 {
    left: 55%;
    top: 10%;
    width: 35%;
    height: 10%;
}

.abfill {
    animation: bcolincrease 3s ease;
}

@keyframes bcolincrease {
    
    0% {
        background-color: #f5f5f5;
    }
    100% {
        background-color: #261447;
    }
}

.bluefill {
    
    background: inherit;
    border-radius: 20px;
    position: absolute;
    z-index: 0.5;
}

.bluefilll {
    position: absolute;
    border-radius: 20px;
    background: inherit;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
}

.bluefill1:hover {
    
    background-color: #1e1038;
        
}

.bluefill1 {
    left: 60%;
    top: 20%;
    width: calc(35% + 5px);
    height: 51%;
}

.bluefill2 {
    left: 95%;
    top: 20%;
    width: 5%;
    height: 15%;
}

    

    