.newvocabsubmit {
  
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 0.5em 0.5em;
  font-size: 20px;
  background-color: #ccffcc;
  margin-bottom: 1rem;
    
}

.myvocabcard:hover {
    
     border: 2px solid rgba(0,0,0, 0.25);
    
}

.countsummary {
    position: relative;
    
    width: 10%;
    height: 10em;
    border-radius: 10%;
    margin-left: 1em;
    margin-right: 1em;
    
}

.countcontent {
    
    font-size: 40px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

.levelcircle {
    
    position: relative;
    
   font-size: 20px;
    
   width: 50px;
   height: 50px;
    
    margin-left: 0.25em;
    margin-right: 0.25em;
    
    
   border-radius: 50%;
   background: lightgreen;
   color: white;
}

.levelcircle:hover {
    cursor: pointer;
}
