.newuserinput {
    
    width: 40%;
    
    
}

.newuserinputcontainer {
    
    margin-top: 3em;
    text-align: center;
    
}

.vocabchoicecontainer {
    
    text-align: center;
    margin-top: 2em;
}

.newvocaboptioncard::hover {
    
    border-color: green;
    
}

.floatingemptycard {
    border: 1px dashed black;
    
}

.selectdonebutton {
    
  border-radius: 2rem;
  padding: 0.5em 0.5em;
  font-size: 30px;
  background-color: #ccffcc;
    
}

.cancelbutton {
    
  border-radius: 2rem;
  font-size: 20px;
  color: red;
  border-color: red;
}


.crossbackground {
  
  border: none;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: white;
    
}

.myvocabcrossbackground {
    
  border: none;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: lightgrey;
}
    

.cross1 {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: red;
  transform: translateX(-50%) rotate(45deg);
  Z-index: 1;
}

.cross2 {
  height: 25px;
  width: 2px;
  background-color: red;
  transform: rotate(90deg);
  Z-index: 2;
}